@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: "Martel Sans", sans-serif; /* Applying Martel Sans as the default font for the entire document */
}
 
a {
    text-decoration:none;
}

.top-right-corner {
    position: fixed; 
    top: 0; 
    right: 0; 
}

.top-right-corner p {
    margin: 0;
}

.top-right-corner a {
    margin-right: 10px;
}

.join-now-button {
    display: inline-block; 
    vertical-align: middle; 
}
.join-now-button {
    background-color: #8053FF; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 20px; 
    margin-right: 20px
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; 
}
.become-coder-button {
    background-color: #8053FF; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.become-manager-button {
    background-color: white;
    color: #8053FF;
    border: 2px solid #8053FF;
    border-radius: 100px;
}
.centered-top {
    text-align: center;
}
.title {
    color: #8053FF;
    text-align: center;
}
/* Square tiles 2x2 */
.square-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
    margin-top: 20px;
}

.square {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; 
}

.square h2 {
    margin-bottom: 10px; 
}

footer {
    text-align: center;
}
.martel-sans-extralight {
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .martel-sans-light {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .martel-sans-regular {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .martel-sans-bold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .martel-sans-extrabold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .martel-sans-black {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  