@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: "Martel Sans", sans-serif; /* Applying Martel Sans as the default font for the entire document */
    background-image: url(/assets/bg.svg);
    padding: 30px;
    margin: 0;
}
 
a {
    text-decoration:none;
}

header {
    display: flex; 
    align-items: flex-start; /* Align items to the top */
}

header img {
    margin-right: 10px; /* Add margin between the image and the paragraph */
    margin-top: -15px; /* Adjust margin to move closer to the top */
}

/* logo-text */
.header-logo {
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    margin-top: -5px; /* Adjust margin to move closer to the top */
}

.top-right-container {
    position: relative; /* Set container to relative positioning */
}

.top-right-corner {
    position: absolute; /* Set the navigation bar to absolute positioning */
    top: 5px; /* distance from the top */
    right: 50px; /* distance from the right */
}

.top-right-corner a {
    margin-right: 5px; /* Whitespace inbetween tags */
    margin-top: 5px;
}

.centered-top {
    text-align: center;

}

.join-now-button {
    display: inline-block; 
    vertical-align: middle; 
}
.join-now-button {
    background-color: #8053FF; 
    color: white; 
    border: none;
    padding: 5px 10px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 5px; 
    margin-right: 20px
}

.button-container {
    display: flex; 
    justify-content: center;
    align-items: center; /* Center vertically */
    gap: 20px;
    margin-bottom: 10px;
    padding: 10 50px;
}
.become-coder-button {
    background-color: #8053FF; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 20px;
    margin-bottom: 150px;
}

.become-manager-button {
    background-color: white;
    color: #8053FF;
    border: 1px solid #8053FF;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: center;
}

/* Square tiles 2x2 */
.square-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    grid-gap: 20px; 
    margin-top: 20px;
}

.square {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    background-color: rgba(240, 240, 240, 0.559); /* RGB and Blur */
    box-shadow: 2px 2px 4px rgba(5, 50, 200, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 90px; 
    border-radius: 10px;
}

button, button:focus {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

/* Remove default link styles inside buttons */
button a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
}

/* Purple Title centered */
.title {
    color: #8053FF;
    text-align: center;
    margin-bottom: -25px;
}

/* Title-2 config*/
.title-2 {
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    color: rgb(104, 104, 104);
    margin: 0; /* Reset margin */
}

/* Purple Title left*/
.title-3 {
    color: #8053FF;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: -75px;
}

/* Black Title left */
.title-4 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: -30px;
}

/* Purple title left */
.title-5 {
    color: #8053FF;
    font-size: 80px;
    font-weight: 900;
}

.par {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(78, 78, 78);
    text-shadow: 0.5px 0.5px 1px #14141480;
}

.par-light {
    font-weight: 400;
    font-style: normal;
    color: grey;
}

/* grid container of 2 col and 3 rows */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    grid-gap: 20px; /* Gap between grid items */
}

/* squares styles */
.grid-item {
    background-color: #f0f0f0; /* Background color of each grid item */
    border: 1px solid #ccc; /* Border around each grid item */
    padding: 20px; /* Padding inside each grid item */
    border-radius: 10px;
    
}


.grid-item p {
    font-size: 16px; /* Font size of the paragraph */
    margin: 0; /* Remove default margin */
}

.square h2 {
    margin-bottom: 10px; 
}

footer {
    text-align: center;
}
.martel-sans-extralight {
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .martel-sans-light {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .martel-sans-regular {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .martel-sans-semibold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .martel-sans-bold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .martel-sans-extrabold {
    font-family: "Martel Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .martel-sans-black {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  